<div id="menuleft">
  <br/><br/><br/><br/>
  <div style="text-align:center">
    <img src="assets/images/logo.png" style="width:40%" />
  </div>

  <br/><br/>
  
  <ul class="list-group">
    <li class="list-group-item" style="background-color:#ca0202; color:white; font-weight:bold;">Menu</li>
    <li class="list-group-item" routerLinkActive="active"><a routerLink="patient"><span class="glyphicon glyphicon-user" style="color:#01bc4d "></span>&nbsp;&nbsp;Patients</a></li>
    <li class="list-group-item" routerLinkActive="active"><a routerLink="historique"><span class="glyphicon glyphicon-folder-open" style="color:#01bc4d "></span>&nbsp;&nbsp;Historiques</a></li>
    <!-- <li class="list-group-item" routerLinkActive="active"><a routerLink="rapport"><span class="glyphicon glyphicon-stats" style="color:#01bc4d "></span>&nbsp;&nbsp;Rapport maladies</a></li> -->

  </ul>



</div>