<div id="content">
  <br/> <br/>
  <ol class="breadcrumb">
    <li><a routerLink="accueil">Accueil</a></li>
    <li class="active">Bienvenue</li>
  </ol>

  <div style="padding-top: 0px; margin: 10px;">
    <div class="container">
      <br/> <br/>
      <div class="row" style="padding-left:100px">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <a href="" routerLink="../patient">
            <div class="offer offer-default">
              <div class="shape">
                <div class="shape-text">
                  <span class="glyphicon glyphicon glyphicon-user"></span>
                </div>
              </div>
              <div class="offer-content">
                <br> <br>
                <p>
                  PATIENTS
                </p>
                <br>
              </div>
            </div>
          </a>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <a href="" routerLink="../historique">
            <div class="offer offer-default">
              <div class="shape">
                <div class="shape-text">
                  <span class="glyphicon glyphicon-folder-open"></span>
                </div>
              </div>
              <div class="offer-content">
                <br> <br>
                <p>
                  HISTORIQUES 
                </p>
                <br>
              </div>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <a href="" routerLink="../rapport">
            <div class="offer offer-default">
              <div class="shape">
                <div class="shape-text">
                  <span class="glyphicon glyphicon-stats"></span>
                </div>
              </div>
              <div class="offer-content">
                <br> <br>
                <p>
                  RAPPORTS
                </p>
                <br>
              </div>
            </div>
          </a>
        </div>

              
      </div>
    </div>
  </div>


</div>